<% layout('layouts/boilerplate') %>

  <h2>在庫一覧</h2>
  <div class="mt-4">
    <!-- カレントユーザの権限が管理者の場合のみ新規登録 -->
    <% if (currentUser.authority === '99') { %>
      <a href="/stocks/new">新規登録</a>
    <% } %>
  </div>

  <form action="/stocks/q" method="GET">
    <div class="d-flex align-items-center mt-2">
      <label class="form-label me-3"  for="q_locationname">倉庫名</label>
      <input class="form-control" type="text" name="q_locationname" id="q_locationname" style="width: 200px;">
      <label class="form-label me-3 ms-3"  for="q_productname">商品名</label>
      <input class="form-control" type="text" name="q_productname" id="q_productname" style="width: 200px;">
      <button class="btn btn-success ms-4" style="width: 80px;">絞 込</button>
    </div>
  </form>
  <table class="table table-bordered mt-3">
    <thead class="table-primary">
      <th scope="col" style="width: 60px;"></th>
      <th scope="col" style="width: 80px;">倉庫</th>
      <th scope="col" style="width: 300px;">商品名</th>
      <!-- <th scope="col" style="width: 60px;">大分類</th>
      <th scope="col" style="width: 160px;">中分類</th> -->
      <th scope="col" style="width: 60px; text-align: right;">在庫数量</th>
      <th scope="col" style="width: 60px; text-align: right;">在庫単価</th>
      <th scope="col" style="width: 60px; text-align: right;">在庫金額</th>
    </thead>

    <% for (let stock of stocks) { %>
      <tbody>
        <th scope="row">
          <a class="btn btn-primary" href="/stocks/<%= stock._id %>/edit">詳細</a>
        </th>
        <td><%= stock.locationname %></td>
        <td><%= stock.productname %></td>
        <!-- <td><%= stock.largeclassname %></td>
        <td><%= stock.middleclassname %></td> -->
        <td style="text-align: right;"><%= stock.inventoryquantity.toLocaleString() %></td>
        <td style="text-align: right;"><%= stock.inventoryunitprice.toLocaleString() %></td>
        <td style="text-align: right;"><%= stock.stockprice.toLocaleString() %></td>
      </tbody>
    <% } %>
  </table>
